<head>    
    <title>VITAMED | ALTERAR</title>
    <link rel="stylesheet" href="/css/style4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
    
<div class="container">
    <span class="Crie"> <h1>Altere suas informações! 😉</h1></span>
    <div class="social-login">
        

    </div>

    <div class="divider">
        <div class="line"></div>
        <p></p>
        <div class="line"></div>
    </div>

    <form id="alterarForm" action="/alterar" method="POST">

        <label for="nome">Nome completo:</label>
            <div class="costume-input">
                <input type="text" id="nome" name="nome" value="{{user.nome}}" 
                placeholder="Insira seu novo Nome completo" title="Insira seu nome"
                autocomplete="off">
                <i class='bx bx-rename' ></i>
            </div>

        <label for="email">Email:</label>
            <div class="costume-input">
                <input type="email" id="email" name="email" value="{{user.email}}"
                placeholder="Insira seu novo Email" title="Insira seu email"
                autocomplete="off">
                <i class='bx bx-at'></i>
            </div>

        
        <label for="telefone">Telefone:</label>
            <div class="costume-input">
                <input type="text" id="telefone" name="telefone" value="{{user.telefone}}" 
                placeholder="Insira seu novo telefone: (xx) xxxxx-xxxx" title="Insira seu telefone"
                autocomplete="off">
                <i class='bx bx-phone'></i>
            </div>

        <label for="senha">Nova Senha:</label>
        <div class="costume-input">
            <input type="password" id="senha" name="senha" 
            placeholder="(Alteração opcional)" title="Insira sua Senha" minlength="8">
            
            <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'senha')"></i>
        </div>

        
        <label for="password">Confirmar Nova Senha:</label>
        <div class="costume-input">
            <input type="password" id="confirmarSenha" name="confirmarSenha" 
            placeholder="(Alteração opcional)" title="Insira sua Senha" minlength="8">

            <i class="bi bi-eye-fill" id="eyeConfirmar" onclick="mostrarSenha(this, 'confirmarSenha')"></i>
        </div>


        <button type="submit" class="login">ALTERAR DADOS</button>
        <div class="links">
            <span class="acesse"><a href="/perfil">Acesse seu perfil</a></span>
        </div>

        
    </form>
    
</div>

<script>
function validateForm() {
    const telefone = document.getElementById('telefone').value;
    console.log("Telefone:", telefone); // Verifica o valor do telefone
    return true; // Permite o envio do formulário
}

$(document).ready(function(){
    $('#telefone').mask('(00) 00000-0000')
})

function mostrarSenha(element, fieldId) {
    const input = document.getElementById(fieldId)
    if (input.type === "password") {
        input.type = "text"
        element.classList.remove("bi-eye-fill")
        element.classList.add("bi-eye-slash-fill")
    } else {
        input.type = "password"
        element.classList.remove("bi-eye-slash-fill")
        element.classList.add("bi-eye-fill")
    }
}
</script>


<script>
/*
document.getElementById('alterarForm').addEventListener('submit', function(event) {
    const senha = document.getElementById('senha').value
    const confirmarSenha = document.getElementById('confirmarSenha').value

    if (senha && senha.length < 8) {
        alert('A senha deve ter pelo menos 8 caracteres.')
        event.preventDefault()
    } else (senha !== confirmarSenha) {
        alert('As senhas não coincidem.')
        event.preventDefault()
    }
})
*/
</script>  
