<head>
<title>Clinica VitaMed | Criar Conta</title>

<link rel="stylesheet" href="/css/style4.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

    <div class="logo">
        
        <a href="/entrar"> <img src="/img/VitaMed.svg" alt=""> </a>
    </div>

    <div class="container">
        <span class="Crie"> <h1>Crie sua conta! 😉</h1></span>
        <div class="social-login">
           

        </div>

        <div class="divider">
            <div class="line"></div>
            <p></p>
            <div class="line"></div>
        </div>

        <form action="/criar" method="POST">

            <label for="nome">Nome completo:</label>
            <div class="costume-input">
                <input type="text" name="nome" 
                placeholder="Insira seu Nome completo" title="Insira seu nome"
                autocomplete="off" required>
                <i class='bx bx-rename' ></i>
            </div>

            <label for="email">Email:</label>
            <div class="costume-input">
                <input type="email" name="email" 
                placeholder="Insira seu Email" title="Insira seu email"
                autocomplete="off" required>
                <i class='bx bx-at'></i>
            </div>

            
            <label for="telefone">Telefone:</label>
            <div class="costume-input">
                <input type="text" name="telefone" id="telefone"
                placeholder="Insira seu telefone: (xx) xxxxx-xxxx" title="Insira seu telefone"
                autocomplete="off" required>
                <i class='bx bx-phone'></i>
            </div>

            
            <label for="cpf">CPF:</label>
            <div class="costume-input">
                <input type="text" name="cpf" id="cpf"
                placeholder="Insira seu CPF" title="Insira seu CPF"
                autocomplete="off" required>
                <i class='bx bx-id-card'></i>
            </div>


            <label for="senha">Senha:</label>
            <div class="costume-input">
                <input type="password" name="senha" id="senha"
                placeholder="Insira sua Senha" title="Insira sua Senha" required>               
                <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'senha')"></i>
            </div>

            
            <label for="senha">Confirmar Senha:</label>
            <div class="costume-input">
                <input type="password" name="confirmarSenha" id="confirmarSenha"
                placeholder="Confirme sua Senha" title="Insira sua Senha" required>
                <i class="bi bi-eye-fill" id="eyeConfirmar" onclick="mostrarSenha(this, 'confirmarSenha')"></i>
            </div>
            

            <button type="submit" class="login">Criar conta</button>

            <div class="links">
                <span class="acesse"><a href="/entrar">Acesse sua conta</a></span>
            </div>
            
        </form>
       
    </div>   

    <script>
    $(document).ready(function(){
        $('#telefone').mask('(00) 00000-0000');
    });
    $(document).ready(function(){
        $('#cpf').mask('000.000.000-00');
    });
    </script>
     