<head>
    <title>Senha Nova</title>
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="icon" href="/img/VitaMed.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    
</head>

<div class="logo">        
    <a href="/"><img src="/img/VitaMed.png" alt=""> </a>
</div>
<div class="container">
    <h1>Crie sua nova Senha!</h1>
        
    <form id="novoForm" action="/novasenha" method="POST" onsubmit="return validateForm()">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="token" value="{{token}}">

        <label for="novaSenha">Informe sua nova senha:</label>
        <div class="costume-input">
            <input type="password" name="novaSenha" id="novaSenha"                 placeholder="Insira sua nova Senha" title="Insira sua Senha" minlength="8" required>
               
            <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'novaSenha')"></i>
        </div>

        <label for="confirmarSenha">Confirme a senha nova:</label>
        <div class="costume-input">
            <input type="password" name="confirmarSenha" id="confirmarSenha"
                placeholder="Confirme a senha nova:" title="Confirme sua Senha" minlength="8" required>
            <i class="bi bi-eye-fill" id="eyeConfirmar" onclick="mostrarSenha(this, 'confirmarSenha')"></i>            
        </div>

        <button type="submit" class="login">Confirmar Senha</button>
    </form>        
        
    <div class="links">
        <a href="/entrar">Acesse sua conta.</a>
        <a href="/criar">Não tem uma conta?</a>
    </div>
</div>

<script>
function validateForm() {      
    const senha = document.getElementById('senha').value;
    const confirmarSenha = document.getElementById('confirmarSenha').value;

    if (senha.length < 8) {
        alert('A senha deve ter pelo menos 8 caracteres.');
        return false;
    } else if (senha !== confirmarSenha) {
        alert('As senhas não coincidem.');
        return false;
    }
    return true;    
}

function mostrarSenha(element, fieldId) {
    const input = document.getElementById(fieldId)
    if (input.type === "password") {
        input.type = "text"
        element.classList.remove("bi-eye-fill")
        element.classList.add("bi-eye-slash-fill")
    } else {
        input.type = "password"
        element.classList.remove("bi-eye-slash-fill")
        element.classList.add("bi-eye-fill")
    }
}
</script>