<head>
    <title>Senha Nova</title>
    <link rel="stylesheet" href="/css/style3.css">
    
</head>

<div class="logo">
        
        <a href="/"><img src="/img/VitaMed.png" alt=""> </a>

    </div>
    <div class="container">
        <h1>Crie sua nova Senha!</h1>
        
        <form>
            <label for="password">Informe sua nova senha:</label>
            <div class="costume-input">
                <input type="password" name="Senha" id="senha"
                placeholder="Insira sua nova Senha" title="Insira sua Senha" >
               
                <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'senha')"></i>
            </div>


            <label for="password">Confirme a senha nova:</label>
            <div class="costume-input">
                <input type="password" name="Senha" id="senha"
                placeholder="Confirme a senha nova:" title="Insira sua Senha" >
                <i class="bi bi-eye-fill" id="eyeConfirmar" onclick="mostrarSenha(this, 'ConfirmarSenha')"></i>
            
            </div>

            
        </form>
        
        <a href="/recuperar">
            <button class="login" id="buton1">Confirmar Senha</button>
        </a>
        <div class="links">
            <a href="/entrar">Acesse sua conta.</a>
            <a href="/criar">Não tem uma conta?</a>
        </div>
    </div>