<head>
    <title>Senha Nova</title>
    <link rel="stylesheet" href="/css/style3.css">
    
</head>

<div class="logo">        
    <a href="/"><img src="/img/VitaMed.png" alt=""> </a>
</div>
<div class="container">
    <h1>Crie sua nova Senha!</h1>
        
    <form action="/novasenha" method="POST">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="token" value="{{token}}">

        <label for="novaSenha">Informe sua nova senha:</label>
        <div class="costume-input">
            <input type="password" name="novaSenha"                 placeholder="Insira sua nova Senha" title="Insira sua Senha" required>
               
            <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'novaSenha')"></i>
        </div>

        <label for="confirmarSenha">Confirme a senha nova:</label>
        <div class="costume-input">
            <input type="password" name="confirmarSenha"
                placeholder="Confirme a senha nova:" title="Confirme sua Senha" required>
            <i class="bi bi-eye-fill" id="eyeConfirmar" onclick="mostrarSenha(this, 'confirmarSenha')"></i>            
        </div>

        <button type="submit" class="login">Confirmar Senha</button>
    </form>        
        
    <div class="links">
        <a href="/entrar">Acesse sua conta.</a>
        <a href="/criar">Não tem uma conta?</a>
    </div>
</div>

