<head>
    <title>Gerar Prontuário | VitaMed</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prontuario.css">
    <link rel="icon" href="/img/VitaMed.png">
</head>

<header>
    <a href="/medico" class="logo"><img src="/img/VitaMed.svg" alt="Logo VitaMed" width="30%" height="30%"></a>
    <h1>Prontuário</h1>    
</header>

<div class="container-main">
    <div class="container-txt">
        <div class="prontuario">
            <input type="text" class="pront" placeholder="Insira as informações.">
            <button class="buton">Enviar formulário</button> 
            <div class="check"><input type="checkbox"> <label for="">Estou ciente.</label></div>
        </div>              
    </div>       
</div>