<head>    
    <title>Recepção - VitaMed</title>    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/recepcao.css">
    <link rel="icon" href="/img/VitaMed.png">
</head>
    
<header>
    <a href="/recepcao" class="logo"><img src="/img/VitaMed.svg" alt="Logo VitaMed" width="40%" height="50%"></a>
    <h1>Bem vindo Recepção!</h1>           
</header>  

<div class="container-main">
    <div class="texto"><h1>Médicos</h1></div>
    <div class="container-medicos">
            <div class="medicos">
                <div class="nomes">
                    <p> </p>
                </div>
            </div>
            <div class="medicos">
                <div class="nomes">
                    <p> </p>
                </div>
            </div>
            <div class="medicos">
                <div class="nomes">
                    <p> </p>
                </div>
            </div>
            <div class="medicos">
                <div class="nomes">
                    <p> </p>
                </div>
            </div>
            <div class="medicos">
                <div class="nomes">
                    <p> </p>
                </div>
            </div>
    </div>
</div>

<footer></footer>
