<head>
    <title>Recuperar Senha | VitaMed</title>
    <link rel="stylesheet" href="/css/style3.css">
    
</head>

<div class="logo">
        
        <a href="/"><img src="/img/VitaMed.svg" alt=""> </a>

    </div>
    <div class="container">
        <h1>Recuperando Sua Senha!</h1>
        
        <form>
            <label for="email">Informe o email cadastrado:</label>
            <div class="costume-input">
                <input type="email" name="email" 
                placeholder="Insira o Email" title="Insira seu email"
                autocomplete="off">
                <i class='bx bx-at'></i>
            </div>


            <label for="password">Informe o código enviado:</label>
            <div class="costume-input">
                <input type="senha" name="senha" id="senha"
                placeholder="Insira o código" title="Insira sua Senha" >

            <i class="bi bi-eye-fill" id="eye" onclick="mostrarSenha(this, 'senha')"></i>
            
            </div>
            
        </form>
        
        <a href="/novasenha">
            <button class="login" id="buton1">Refazer senha</button>
        </a>
        <div class="links">
            <a href="/entrar">Acesse sua conta.</a>
            <a href="/criar">Não tem uma conta?</a>
        </div>
    </div>